#img-bg{
    background-image: url('https://i.imgur.com/va2hyWL.png');

    min-height: 695px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg{
    background-color: rgb(224, 200, 219);
}

