
<div class="container">
  <div class="row">

    <div class="col-md-3">
      <div class="div card d-flex align-content-center mt-5 p-3 shadow bg-transparent">
        <div class="row d-flex justify-content-center mb-3">
          <img src="{{foto}}" alt="" class="img-fluid rounded-circle borda shadow" width="60%">
        </div>
        <div class="row d-flex justify-content-center">
          <p class="text-center font-weight-bold fs-25">{{nome}}</p>
        </div>
        <div class="row d-flex justify-content-center mt-3">
          
          <button class="w-100 text-left btn btn-blue text-dark mx-3 my-1 px-3" data-toggle="modal"
            data-target="#novaPostagem">
            <i class="fa fa-plus" aria-hidden="true"></i> Nova postagem
          </button>
          <button class="w-100 text-left btn btn-blue text-dark mx-3 my-1 px-3" data-toggle="modal"
            data-target="#postagemTema" routerLink="/tema">
            <i class="fa fa-plus" aria-hidden="true"></i> Criar tema
          </button>
          
          <button class="w-100 text-left btn btn-blue text-dark mx-3 my-1 px-3" [routerLink]="['/user-edit', id]">
            <i class="fa fa-plus" aria-hidden="true"></i> Editar perfil
          </button>

          <button  (click)='findByIdUser()' class="w-100 text-left btn btn-blue text-dark mx-3 my-1 px-3" data-toggle="modal"
          data-target="#minhaPostagem">
          <i class="fa fa-plus" aria-hidden="true"></i> Minhas Postagens
        </button>

        </div>
      </div>

        <!-- Modal Nova Postagem -->

        <div class="modal fade" id="novaPostagem" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="TituloModalCentralizado">Nova Postagem</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
          
                  <div class="form-group">
                    <label for="titulo">Título</label>
                    <input [(ngModel)]='postagem.titulo' type="text" class="form-control" id="titulo" placeholder="Digite o título">
                  </div>

                  <div class="form-group">
                    <label for="foto"> Link da foto</label>
                    <input [(ngModel)]='postagem.foto' type="text" class="form-control" id="foto"
                      placeholder="Coloque o link da foto">
                  </div>
          
                  <div class="form-group">
                    <label for="texto">Texto</label>
                    <textarea [(ngModel)]='postagem.texto' class="form-control" name="texto" id="texto" rows="3"></textarea>
                  </div>
          
                  <div class="form-group">
                    <label for="texto">Escolha um tema ou <a data-dismiss="modal" routerLink='/tema'>cadastre um novo</a>: </label>
                    <select name="tema" id="tema" class="form-control" [(ngModel)]='idTema' (change)='findByIdTema()'>
                      <option *ngFor='let item of listaTemas' value="{{item.id}}">
                        {{item.descricao}}
                      </option>
                    </select>
                  </div>
          
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
                  <button type="button" class="btn btn-outline-success" (click)='publicar()' data-dismiss="modal">Publicar</button>
                </div>
              </div>
            </div>
          </div>

          <!-- /Modal Nova Postagem -->


          <!--Modal minhas postagens-->

          <div class="modal fade" id="minhaPostagem" tabindex="-1" role="dialog" aria-labelledby="minhaPostagem" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content" *ngFor='let item of usuario.postagem'>
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Minhas Postagens</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" >
                    <h5 class="card-title m-0">{{item.titulo}}</h5>
                    <small class="text-muted"> Tema: {{item.tema.descricao}}</small>
                    <p class="card-text mt-3">{{item.texto}}</p>
                    <p class="card-text"><small class="text-muted">
                      {{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date: 'HH:mm'}}
                    </small></p>
                </div>
                <div class="modal-footer" data-toggle="modal" data-dismiss="modal">
                    <a [routerLink]="['/postagem-edit', item.id]" class="text-info mr-3" href="">Editar</a>
                    <a [routerLink]="['/postagem-delete', item.id]" class="text-danger" href="">Apagar</a>
              </div>
            </div>
          </div>
        </div>
    </div>

    <!-- /Modal minhas postagens-->
    


          <!--feed-->

          <div class="col-md-6">
            <div class="card mt-5 pt-2 pb-2 mb-4 shadow bg-transparent" *ngFor='let item of listaPostagens'>
      
              <div class="row d-flex align-items-center">
                <div class="col mt-3">
                  <div class="d-flex justify-content-start">
                    <img [src]=item.usuario.foto class="rounded-circle ml-4" width="40px" height="40px">
                    <p class="mt-2 ml-2">{{item.usuario.nome}}</p>
                  </div>
                </div>
      
                <div class="d-flex justify-content-end mt-3">
                  <p class="text-right"><i class="fa fa-calendar-o" aria-hidden="true"></i>
                    {{item.data | date: 'dd/MM/yyyy'}}</p>
                  <p class="text-right ml-4 mr-5">
                    Tema: {{item.tema.descricao}}</p>
                </div>
      
              </div>
              <hr class="mr-0 ml-0">
              <p class="card-title fs-25 ml-4 mb-3 bg-transparent">{{item.titulo}}</p>
              <div class="d-flex justify-content-center">
                <img [src]=item.foto width="100%" class="img-fluid">
              </div>
              <div>
                <p class="card-text mt-3 ml-4 pb-4">{{item.texto}}</p>
              </div>
            </div>
          </div>
          <!-- //feed-->


          <!-- Pesquisar-->

          <div class="col-md-3">
            <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel"
            aria-labelledby="nav-todasPostagens-tab">
            <div class="div card d-flex align-content-center mt-5 p-3 shadow bg-transparent">
                <div class="row d-flex justify-content-center mb-3">
                <label>Pesquise o que quiser</label>
                <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel"
                aria-labelledby="nav-todasPostagens-tab">
                    <div class="form-group">
                      <input type="text" class="form-control" id="titulo"
                      placeholder="Digite um título de postagem para pesquisar" [(ngModel)]="tituloPost"
                      (keyup)="findByTituloPostagem()">
                    </div>
                  </div> 
                </div>                     
        </div>
    </div>   
    
    <div class="tab-pane fade show active" id="postagemTema" role="tabpanel"
            aria-labelledby="nav-postagemTema-tab">
            <div class="div card d-flex align-content-center mt-5 p-3 shadow bg-transparent">
                <div class="row d-flex justify-content-center mb-3">
                <label>Pesquise o que quiser</label>
                
                    <div class="form-group">
                        <input type="text" class="form-control" id="titulo" 
                        placeholder="Digite um tema para pesquisar" [(ngModel)]="nomeTema"
                        (keyup)="findByNomeTema()">
                    </div>
                  
                </div>                     
        </div>
    </div>
    
</div>

          <!-- /Pesquisar-->
          
     </div>
</div>


          
        
      
